@charset "UTF-8";
/* CSS Document */


#top_title0 {
position: fixed;
margin: 0 auto;
text-align :center;
top: 290px;
width: 100%;
min-width:1000px;
height: 242px;
background-image: url(../image/top_title.png);
background-repeat: no-repeat;
background-position: center;
z-index: -1;
} 

#top_logo0 {
position: fixed;
margin: 0 auto;
text-align :center;
top: 140px;
width: 100%;
min-width:1000px;
height: 140px;
background-image: url(../image/logo140-140.png);
background-repeat: no-repeat;
background-position: center;
filter: alpha(opacity=50);　/* ie lt 8 */
	-moz-opacity:0.5;/* FF lt 1.5, Netscape */
	opacity:0.5;/* ie 8 */
	-khtml-opacity: 0.5;              /* Safari 1.x */
	-ms-filter: "alpha(opacity=50)"; /* ie 8 */
	zoom: 1; /* IE (for inline) */
z-index: -10;	
} 
.point { 
position: absolute;
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
top: 725px;
z-index: -1;
}

.point2 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
padding-top: 30px;
padding-bottom: 10px;
}

.point3 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
padding-bottom: 60px;
}

.point4 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
padding-top: 120px;
padding-bottom: 10px;
}

.top_logo0 {  /* 新 */
margin: 0 auto;
text-align :center;
width:100%;
min-width:1000px;
height: 80px;
background-color: #ffffff;
}

.point000 {  /* 新 */
margin: 0 auto;
text-align :center;
width:100%;
min-width:1000px;

font-size: 20px;
font-weight: 400;
line-height: 220%;
letter-spacing: 0.3em;
color:#777;
padding-top: 30px;
padding-bottom: 30px;
background-color: #ffffff;
}

#topbg { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
margin-top: 0px;
height: 87px;
background-color: #ffffff;
} 

#topbg2 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
margin-top: 802px;
padding-bottom: 60px;
background-color: #ffffff;
} 

#topbg2-00{  /* 新 */
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
height: 105px;
background-image: url(../image/t-do2.png);
background-repeat: no-repeat;
background-position: center;
} 

.topbg2cach { /* CSS Document */
margin: 0 auto;
text-align :center;
padding-top: 90px;
padding-bottom: 30px;

}

.topbg2cach2 {/* CSS Document */ 
margin: 0 auto;
text-align :center;
padding-top: 95px;
padding-bottom: 40px;
/
} 

.topbg2copy {/* CSS Document */ 
margin: 0 auto;
text-align :center;
font-size: 20px;
font-weight: 400;
line-height: 200%;
letter-spacing: 0.1em;
color: #46463c;
padding-top: 20px;
padding-bottom: 10px;
} 

.topbg2copy2 { /* CSS Document */
margin: 0 auto;
text-align :center;
font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
font-size: 13px;
font-weight: 400;
line-height: 220%;
letter-spacing: 0.1em;
padding-top: 30px;
padding-bottom: 30px;
} 

.topbg2copy22waku { /* CSS Document */
margin: 0 auto;
text-align :center;
width: 480px;
padding-top: 10px;
padding-bottom: 10px;
overflow: hidden;
} 

.topbg2copy22 { /* CSS Document */
margin: 0 auto;
text-align :center;
font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
font-size: 13px;
font-weight: 400;
line-height: 220%;
letter-spacing: 0.1em;
padding-top: 30px;
padding-bottom: 50px;
} 

.topbg2copy3 { 
margin: 0 auto;
text-align :center;
width: 936px;
font-size: 20px;
font-weight: 400;
line-height: 20%;
letter-spacing: 0.2em;
color:#64645a;
padding-top: 40px;
padding-bottom: 30px;
} 

#topbg3 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
background-color: #000;
background-image: url(../image/services-bg.jpg);
background-repeat: no-repeat;
background-position: center;
} 

#topbg3under { 
margin: 0 auto;
text-align :center;
width: 100%;
height: 238px;
min-width:1000px;
background-color: #000;
background-image: url(../image/services-bg.jpg);
background-repeat: no-repeat;
background-position: bottom;
padding-top: 40px;
padding-bottom: 40px;
} 

#topbg3a { 
position: fixed !important;  
position: absolute; 
margin-top: 758px;  
left: 0;  
text-align :center;
width: 100%;
min-width:1000px;
height: 447px;
background-image: url(../image/back.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
z-index: -100;
} 

#topbg3aa { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
height: 200px;
} 

#topbg4 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
padding-bottom: 60px;
background-color: #e8e8e8;
}

#topbg4a { 
margin: 0 auto;
text-align :center;
width: 800px;
padding-top: 40px;
overflow: hidden;
}

#topbg4-00{  /* 新 */
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
height: 105px;
background-image: url(../image/t-do4.png);
background-repeat: no-repeat;
background-position: center;
}  

.ableft-t {
text-align: left;
width: 200px; 
margin-left: 30px;
float: left;
}

.abright-t {/* CSS Document */
margin: 0 auto;
text-align :center;
width: 700px; 
font-size: 13px;
font-weight: 400;
line-height: 200%;
letter-spacing: 0.1em;
}

.naa {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 800px;
overflow: hidden;
}

.naa1 {/* CSS Document */
text-align: left;
width: 220px;
margin-top: 6px;	
margin-right: 50px;
margin-left: 30px;
position: absolute;
float: left;
}

.naa2 {/* CSS Document */
text-align: left;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.1em;
line-height: 220%;
margin-left: 250px;
float: left;
}

.naa3 {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 700px;	
font-size: 12px;
font-weight: 400;
line-height: 200%;
letter-spacing: 0.1em;

}

.naa4 {/* CSS Document */
text-align: left;
width: 250px;	
font-size: 12px;
font-weight: 400;
line-height: 200%;
letter-spacing: 0.1em;
float: left;
}

.wcase {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 740px;
margin-bottom: 80px;
overflow: hidden;	
}

.wcase-1 {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 200px;
height: 180px;
float: left;	
}

.wcase-2 {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 340px;
height: 180px;
float: left;	
}

.wcase-3 {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 200px;
height: 180px;
float: left;	
}

.wcopy-1 {/* CSS Document */
margin: 0 auto; 
text-align: center;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.3em;
color: #fff;
padding-top: 20px;
padding-bottom: 10px;
filter: alpha(opacity=80);　/* ie lt 8 */
	-moz-opacity:0.8;/* FF lt 1.5, Netscape */
	opacity:0.8;/* ie 8 */
	-khtml-opacity: 0.8;              /* Safari 1.x */
	-ms-filter: "alpha(opacity=80)"; /* ie 8 */
	zoom: 1; /* IE（インラインで使うとき）*/
}

.wcopy-2 {/* CSS Document */
margin: 0 auto; 
text-align: center;
font-size: 11px;
font-weight: 400;
letter-spacing: 0.1em;
color: #fff;
padding-top: 0px;
padding-bottom: 30px;
}

.ab {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 620px;	
}

.ab-copy {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 200px;	
font-size: 14px;
font-weight: 400;
letter-spacing: 0.3em;
color: #fff;
padding-top: 10px;
padding-bottom: 10px;
margin-right: 10px;
float: left;
}

.ab-copy2 {/* CSS Document */
margin: 0 auto; 
text-align: center;
width: 200px;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.3em;
color: #fff;	
padding-top: 10px;
padding-bottom: 10px;
float: left;
}

.ableftin {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 200px; 
font-size: 12px;
font-weight: 400;
letter-spacing: 0.1em;
color: #fff;
line-height: 170%;
margin-right: 10px;
padding-top: 0px;
padding-bottom: 30px;
float: left;
}

.ableftin2 {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 200px; 
font-size: 12px;
font-weight: 400;
letter-spacing: 0.1em;
color: #fff;
line-height: 170%;
padding-top: 0px;
padding-bottom: 30px;
float: left;
}

.ableftin3 {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 140px; 
font-size: 11px;
font-weight: 400;
letter-spacing: 0.1em;
color: #fff;
border: 1px #e6e6e6 solid;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 30px;
margin-right: 40px;
float: left;
}
.ableftin3:hover {
color: #ffcccc;
border:1px #ffcccc solid;
}

.ableftin4 {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 140px; 
font-size: 11px;
font-weight: 400;
letter-spacing: 0.1em;
color: #fff;
border: 1px #dcdcdc solid;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 30px;
float: left;
}
.ableftin4:hover {
color: #ffcccc;
border:1px #ffcccc solid;
}

.abf-f {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 200px;
padding-top: 30px;
} 

.abf-t {/* CSS Document */
margin: 0 auto; 
text-align: center;	
width: 200px;
font-size: 10px;
font-weight: 400;
letter-spacing: 0.1em;
color: #46463c; 
padding-top: 5px;
} 

#topbg5-00{  /* 新 */
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
height: 105px;
background-image: url(../image/t-do5.png);
background-repeat: no-repeat;
background-position: center;
}  

#topbg5 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
background-color: #ffffff;
} 

.topbg5cach { 
margin: 0 auto;
text-align :center;
font-size: 90px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0.1em;
text-decoration: underline;
color:#c8280a;
padding-bottom: 20px;
} 

#topbg5a { 
margin: 0 auto;
text-align :center;
width: 710px;
background-color: #dcdcdc;
} 

#topbg6 { 
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
height: 30px;
}

.go { 
margin: 0 auto;
text-align :center;
width: 936px;
padding-bottom: 70px;
} 

.go2 { 
margin: 0 auto;
text-align :center;
padding-top: 50px;
padding-bottom: 30px;
} 

.go3 { 
margin: 0 auto;
text-align :center;
padding-top: 30px;
padding-bottom: 30px;
} 
 
.web22 {
margin: 0 auto; 
text-align: center;	
} 

#map {
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
margin-top: 20px;
}

#map_canvas {/* CSS Document */
margin: 0 auto;
text-align :center;	
width:100%; 
height: 450px;
}

.form {/* CSS Document */
margin: 0 auto;
text-align :center;
width: 420px;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.2em;
color: #666;
border: 5px #aaaaaa solid;
padding-top: 20px;
padding-bottom: 20px;
margin-top: 30px;
margin-bottom: 20px;
}
.form:hover {
color: #5688e9;
border:5px #5688e9 solid;

}

.form-2 {/* CSS Document */
margin: 0 auto;
text-align :center;
width: 420px;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.1em;
color: #46463c;
border: 1px #c8c8be solid;
padding-top: 20px;
padding-bottom: 18px;
margin-bottom: 20px;
}


.form-w {/* CSS Document */
margin: 0 auto;
text-align :center;
width: 400px;
font-size: 12px;
font-weight: 400;
letter-spacing: 0.5em;
color: #fff;
border: 1px #e6e6e6 solid;
padding-top: 30px;
padding-bottom: 30px;
margin-bottom: 60px;
margin-top: 40px;
}
.form-w:hover {
color: #29b0dd;
border:1px #29b0dd solid;
}

.form-w2 {/* CSS Document */
margin: 0 auto;
text-align :center;
width: 80px;
font-size: 14px;
font-weight: 400;
color: #fff;
border: 1px #cdcdcd solid;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 20px;
}
.form-w2:hover {
color: #5688e9;
border: 1px #5688e9 solid;
}

.st {
position: absolute;   
top: 20px;  
right: 20px; 
text-align: right;
width: 600px;
font-size:14px;
font-weight:400;
letter-spacing: 0.1em;
color: #333333;
z-index: 300;
}

.lage {
font-size: 14px;
font-weight: 400;
}
	
.open{
margin: 0 auto;
text-align :center;
width: 300px;
font-size: 13px;
font-weight: 400;
letter-spacing: 0.5em;
color: #fff;
border: 1px #cdcdcd solid;
padding-top: 20px;
padding-bottom: 15px;
margin-bottom: 20px;
margin-top: 30px;
}
.open:hover {
color: #5688e9;
border: 1px #5688e9 solid;
cursor: pointer;
}
    
#slideBox{
padding: 0px;
margin: 0 auto;
text-align :center;
width: 100%;
min-width:1000px;
background-color: #fff;
     display:none;
}

.adv {
margin: 0 auto;
text-align :center;	
font-size: 12px;
font-weight: 400;
letter-spacing: 0.1em;
padding-top: 0px;
padding-bottom: 50px;
}

.photo {
text-align: left;
width: 200px;
height: 274px;
}

.photo2 {
text-align: left;
width: 200px;
height: 274px;
position: relative;
z-index: 300;
}
.photo2:before, .photo2:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 5px;
	background: transparent;
	-webkit-transform: skew(-7deg) rotate(-7deg);
	-moz-transform: skew(-7deg) rotate(-7deg);
	-ms-transform: skew(-7deg) rotate(-7deg);
	-o-transform: skew(-7deg) rotate(-7deg);
	transform: skew(-7deg) rotate(-7deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 
.photo2:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(7deg) rotate(7deg);
	-moz-transform: skew(7deg) rotate(7deg);
	-ms-transform: skew(7deg) rotate(7deg);
	-o-transform: skew(7deg) rotate(7deg);
	transform: skew(7deg) rotate(7deg);
}

#menu div {
  position: relative;
}

.arrow_box {
  display: none;
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  padding: 18px 15px 18px 18px;
  background: #5688e9;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 160%;
  color: #fff;
  filter: alpha(opacity=90);　/* ie lt 8 */
	-moz-opacity:0.9;/* FF lt 1.5, Netscape */
	opacity:0.9;/* ie 8 */
	-khtml-opacity: 0.9;              /* Safari 1.x */
	-ms-filter: "alpha(opacity=90)"; /* ie 8 */
	zoom: 1; /* IE（インラインで使うとき）*/
z-index: 100;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #5688e9;
  border-width: 10px;
  pointer-events: none;
  content: " ";
z-index: 100;
 }

span:hover + p.arrow_box {
  display: block;
}
.arrow:hover{
	cursor: pointer;
}


.top_logo{ 
position: absolute; 
text-align: left; 
top: 0;  
left: 0; 
z-index: 200;
} 
	